[package]
name = "myelin-visualization-server"
version = "0.1.0"
authors = [
    "Jan Nils Ferner <jan@myelin.ch>",
    "Mathias Fischler <mathias@myelin.ch>",
    "Ruben Schmidmeister <ruben@myelin.ch>",
    "Jeremy Stucki <jeremy@myelin.ch>",
]
edition = "2018"

[dependencies]
myelin-environment = { path = "../environment" }
myelin-worldgen = { path = "../worldgen" }
myelin-object-behavior = { path = "../object-behavior" }
myelin-visualization-core = { path = "../visualization-core" }
serde = "1.0"
serde_json = "1.0"
log = "0.4"
simple_logger = "1.0"
clap = "2.32"
websocket = "0.20.3"
threadpool = "1.0"
spmc = "0.2"
nameof = "0.1"
