[package]
name = "myelin-visualization-core"
version = "0.1.0"
authors = [
    "Jan Nils Ferner <jan@myelin.ch>",
    "Mathias Fischler <mathias@myelin.ch>",
    "Ruben Schmidmeister <ruben@myelin.ch>",
    "Jeremy Stucki <jeremy@myelin.ch>",
]
edition = "2018"

[dependencies]
myelin-environment = { path = "../environment" }
myelin-geometry = { path = "../geometry" }
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", optional = true }
bincode = { version = "1.0", optional = true }

[dev-dependencies]
maplit = "1.0"

[features]
default = ["use-bincode"]
use-json = ["serde_json"]
use-bincode = ["bincode"]
